@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Josefin";
  src: url(./assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

:root {
  margin: 0;
  padding: 0;
  background-color: #1E1E1E;
  color: #ffff;
  font-family: "Josefin", sans-serif;
}

input, textarea {
  @apply bg-[#1E1E1E] rounded-[5px] p-2;
}

textarea {
  @apply h-[150px] 
}